<div class="top-bar">
  Envío gratis en compras mayores de $4,000
</div>

<nav class="navbar">

  <div class="navbar-container">

    <a routerLink="/" class="logo">
      DURANGO WESTERN
    </a>

    <div class="navbar-icons">

      <button class="icon-button">
        🔍
      </button>

      <button class="icon-button">
        👤
      </button>

      <button class="icon-button">
        🛒
      </button>

    </div>

  </div>

</nav>

<div class="menu-bar">

  <a routerLink="/productos">
    Caballero
  </a>

  <a routerLink="/productos">
    Dama
  </a>

  <a routerLink="/productos">
    Niños
  </a>

  <a routerLink="/productos">
    Ofertas
  </a>

</div>