.range-western {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  height: 40px;
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;

  pointer-events: none;
}

.range-western::-webkit-slider-runnable-track {
  background: transparent;
  height: 40px;
}

.range-western::-moz-range-track {
  background: transparent;
  height: 40px;
}

.range-western::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  pointer-events: auto;

  width: 18px;
  height: 18px;

  border-radius: 9999px;

  background:
    radial-gradient(
      circle at 35% 35%,
      #f6d6a6,
      #b7793b 45%,
      #6b3f26 100%
    );

  border: 2px solid #2f1b12;

  margin-top: 11px;

  cursor: grab;

  box-shadow:
    0 2px 5px rgba(0,0,0,.25),
    inset 0 1px 1px rgba(255,255,255,.35);
}

.range-western::-webkit-slider-thumb:hover {
  transform: scale(1.08);
}

.range-western::-webkit-slider-thumb:active {
  cursor: grabbing;
  transform: scale(1.12);
}

.range-western::-moz-range-thumb {
  pointer-events: auto;

  width: 18px;
  height: 18px;

  border-radius: 9999px;

  background:
    radial-gradient(
      circle at 35% 35%,
      #f6d6a6,
      #b7793b 45%,
      #6b3f26 100%
    );

  border: 2px solid #2f1b12;

  cursor: grab;

  box-shadow:
    0 2px 5px rgba(0,0,0,.25),
    inset 0 1px 1px rgba(255,255,255,.35);
}

.range-min {
  z-index: 10;
}

.range-max {
  z-index: 20;
}